@import "normalize";
@import "base";
@import "chromeframe";
@import "helper";

/* ==========================================================================
   Default Screen styles.
   ========================================================================== */
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body { 
  font-family: "Helvetica", "Arial", sans-serif;
}

.background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.wood-background {
  background-image: url(../img/woodgrain.jpg); 
  background-repeat: repeat;
  background-position: 0 0;
} 

.page {
  position: relative;
  min-width: 818px;
  min-height: 600px;
  z-index: 2;
  overflow: hidden;
  height: 100%;
}

.main-content {
  width: 818px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -409px;
}
.card {
  position: absolute; 
}

#title {
  left: 17px;
  top: 25px;
  z-index: 2;
}
#description {
  left: 259px;
  top: 67px;
  z-index: 1;
}
#date {
  left: 525px;
  top: 9px;
}
#card-shoe {
  bottom: -158px;
  left: 445px;
  z-index: 1;
}
#card-dark {
  top: 259px;
  right: -260px;
  z-index: 1;
}


#invitation {
    background-color: #fff;
    bottom: 0;
    left: 0;
    padding: 27px 129px 29px 29px;
    position: absolute;
    width: 579px;
    z-index: 3;
}
#invitation h1 {
    font-size: 30px;
    margin-bottom: 15px;
}
#invitation a {
    background-color: #393939;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    margin-right: 20px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
#invitation a:hover {
    background-color: #f78b36;
}
